{:flint/unit 1
 :name flint.data.xml
 :kind :wasm-object
 :artifact "flint_data_xml.o"
 :requires [flint.rt]
 :abi {:runtime 1 :value 1 :image 1}
 :provides {"flint/xml-parse" {:symbol "flint_b_xml_parse"}}}
