{:flint/unit 1
 :name flint.rt
 :kind :wasm-object
 :artifact "flint_rt.o"
 :requires []
 :abi {:runtime 1 :value 1 :image 1}
 :provides {
  "=" {:symbol "flint_b_eq"}
  "identical?" {:symbol "flint_b_identical"}
  "hash" {:symbol "flint_b_hash"}
  "compare" {:symbol "flint_b_compare"}
  "flint/add" {:symbol "flint_b_add"}
  "flint/sub" {:symbol "flint_b_sub"}
  "flint/mul" {:symbol "flint_b_mul"}
  "flint/div" {:symbol "flint_b_div"}
  "quot" {:symbol "flint_b_quot"}
  "rem" {:symbol "flint_b_rem"}
  "flint/lt" {:symbol "flint_b_lt"}
  "flint/le" {:symbol "flint_b_le"}
  "flint/gt" {:symbol "flint_b_gt"}
  "flint/ge" {:symbol "flint_b_ge"}
  "flint/num-eq" {:symbol "flint_b_numeq"}
  "bit-and" {:symbol "flint_b_bitand"}
  "bit-or" {:symbol "flint_b_bitor"}
  "bit-xor" {:symbol "flint_b_bitxor"}
  "bit-not" {:symbol "flint_b_bitnot"}
  "bit-shift-left" {:symbol "flint_b_shl"}
  "bit-shift-right" {:symbol "flint_b_shr"}
  "unsigned-bit-shift-right" {:symbol "flint_b_ushr"}
  "bit-test" {:symbol "flint_b_bittest"}
  "nil?" {:symbol "flint_b_nilp"}
  "number?" {:symbol "flint_b_numberp"}
  "int?" {:symbol "flint_b_intp"}
  "float?" {:symbol "flint_b_floatp"}
  "string?" {:symbol "flint_b_stringp"}
  "keyword?" {:symbol "flint_b_keywordp"}
  "symbol?" {:symbol "flint_b_symbolp"}
  "vector?" {:symbol "flint_b_vectorp"}
  "map?" {:symbol "flint_b_mapp"}
  "set?" {:symbol "flint_b_setp"}
  "seq?" {:symbol "flint_b_seqp"}
  "fn?" {:symbol "flint_b_fnp"}
  "boolean?" {:symbol "flint_b_boolp"}
  "sequential?" {:symbol "flint_b_sequentialp"}
  "count" {:symbol "flint_b_count"}
  "first" {:symbol "flint_b_first"}
  "rest" {:symbol "flint_b_rest"}
  "next" {:symbol "flint_b_next"}
  "seq" {:symbol "flint_b_seq"}
  "cons" {:symbol "flint_b_cons"}
  "conj" {:symbol "flint_b_conj"}
  "get" {:symbol "flint_b_get"}
  "assoc" {:symbol "flint_b_assoc"}
  "dissoc" {:symbol "flint_b_dissoc"}
  "disj" {:symbol "flint_b_disj"}
  "contains?" {:symbol "flint_b_containsp"}
  "nth" {:symbol "flint_b_nth"}
  "pop" {:symbol "flint_b_pop"}
  "peek" {:symbol "flint_b_peek"}
  "empty" {:symbol "flint_b_empty"}
  "transient" {:symbol "flint_b_transient"}
  "persistent!" {:symbol "flint_b_persistent"}
  "conj!" {:symbol "flint_b_conjbang"}
  "assoc!" {:symbol "flint_b_assocbang"}
  "dissoc!" {:symbol "flint_b_dissocbang"}
  "flint/str2" {:symbol "flint_b_str2"}
  "name" {:symbol "flint_b_name"}
  "namespace" {:symbol "flint_b_namespace"}
  "flint/keyword2" {:symbol "flint_b_keyword2"}
  "flint/symbol2" {:symbol "flint_b_symbol2"}
  "flint/subs" {:symbol "flint_b_subs"}
  "flint/num->str" {:symbol "flint_b_num2str"}
  "flint/str->num" {:symbol "flint_b_str2num"}
  "flint/code-point-at" {:symbol "flint_b_cpat"}
  "flint/from-code-point" {:symbol "flint_b_fromcp"}
  "flint/str-join" {:symbol "flint_b_strjoin"}
  "flint/str-index-of" {:symbol "flint_b_strindexof"}
  "flint/str-bytes" {:symbol "flint_b_strbytes"}
  "flint/double-bits" {:symbol "flint_b_doublebits"}
  "flint/array-map" {:symbol "flint_b_arraymap"}
  "flint/volatile" {:symbol "flint_b_volatile"}
  "flint/volatile?" {:symbol "flint_b_volatilep"}
  "ex-info" {:symbol "flint_b_exinfo"}
  "ex-message" {:symbol "flint_b_exmessage"}
  "ex-data" {:symbol "flint_b_exdata"}
  "flint/ex-kind" {:symbol "flint_b_exkind"}
  "atom" {:symbol "flint_b_atom"}
  "deref" {:symbol "flint_b_deref"}
  "reset!" {:symbol "flint_b_reset"}
  "meta" {:symbol "flint_b_meta"}
  "with-meta" {:symbol "flint_b_withmeta"}
  "flint/sqrt" {:symbol "flint_b_m_sqrt"}
  "flint/cbrt" {:symbol "flint_b_m_cbrt"}
  "flint/exp" {:symbol "flint_b_m_exp"}
  "flint/expm1" {:symbol "flint_b_m_expm1"}
  "flint/log" {:symbol "flint_b_m_log"}
  "flint/log10" {:symbol "flint_b_m_log10"}
  "flint/log1p" {:symbol "flint_b_m_log1p"}
  "flint/sin" {:symbol "flint_b_m_sin"}
  "flint/cos" {:symbol "flint_b_m_cos"}
  "flint/tan" {:symbol "flint_b_m_tan"}
  "flint/asin" {:symbol "flint_b_m_asin"}
  "flint/acos" {:symbol "flint_b_m_acos"}
  "flint/atan" {:symbol "flint_b_m_atan"}
  "flint/sinh" {:symbol "flint_b_m_sinh"}
  "flint/cosh" {:symbol "flint_b_m_cosh"}
  "flint/tanh" {:symbol "flint_b_m_tanh"}
  "flint/floor" {:symbol "flint_b_m_floor"}
  "flint/ceil" {:symbol "flint_b_m_ceil"}
  "flint/rint" {:symbol "flint_b_m_rint"}
  "flint/trunc" {:symbol "flint_b_m_trunc"}
  "flint/pow" {:symbol "flint_b_m_pow"}
  "flint/atan2" {:symbol "flint_b_m_atan2"}
  "flint/hypot" {:symbol "flint_b_m_hypot"}
  "flint/to-long" {:symbol "flint_b_tolong"}
  "flint/signum" {:symbol "flint_b_m_signum"}
  "flint/fabs" {:symbol "flint_b_m_fabs"}
  "flint/copy-sign" {:symbol "flint_b_m_copysign"}
  "flint/apply" {:symbol "flint_b_apply"}
  "flint/lazy-seq" {:symbol "flint_b_lazyseq"}
  "flint/range3" {:symbol "flint_b_range3"}
  "flint/gc-stats" {:symbol "flint_b_gcstats"}
 }}
